@font-face {
    /* 两处名字要一致 */
    font-family: "iconfont";
    /* 下载下来的demo.css的远程链接是错的要去网站上复制正确的链接（iconfont.css里是本地地址） */
    /* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
    src: url('//at.alicdn.com/t/c/font_3787006_sbnvzyambq.woff2?t=1682077637666') format('woff2'),
       url('//at.alicdn.com/t/c/font_3787006_sbnvzyambq.woff?t=1682077637666') format('woff'),
       url('//at.alicdn.com/t/c/font_3787006_sbnvzyambq.ttf?t=1682077637666') format('truetype');
}
  
  

  /* 用的时候记得写class='logo' */
  .iconfont { 
    /* 两处名字要一致 */
    font-family: "iconfont";
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

